
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Mặt hàng</h6>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#ao">
                                    <a href="#">Áo</a>
                                    <ul class="sub-menu collapse" id="ao">
                                        <li><a href="/SanPham/AoPhong">Áo phông</a></li>
                                        <li><a href="/SanPham/AoSoMi">Áo sơ mi</a></li>
                                        <li><a href="/SanPham/AoDay">Áo dây</a></li>
                                        <li><a href="/SanPham/AoKhoac">Áo khoác</a></li>
                                        <li><a href="/SanPham/AoLen">Áo len</a></li>
                                    </ul>

                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#quan" class="collapsed">
                                    <a href="#">Quần</a>
                                    <ul class="sub-menu collapse" id="quan">
                                        <li><a href="#">Quần jeans</a></li>
                                        <li><a href="#">Quần yếm</a></li>
                                        <li><a href="#">Quần ống rộng</a></li>
                                        <li><a href="#">Quần sooc</a></li>
                                        <li><a href="#">Quần đùi</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#cv" class="collapsed">
                                    <a href="#">Váy</a>
                                    <ul class="sub-menu collapse" id="cv">
                                        <li><a href="#">Chân váy ngắn</a></li>
                                        <li><a href="#">Chân váy dài</a></li>
                                        <li><a href="#">Váy ngắn</a></li>
                                        <li><a href="#">Váy dài</a></li>
                                    </ul>
                                </li>


                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#phukien" class="collapsed">
                                    <a href="#">Phụ kiện</a>
                                    <ul class="sub-menu collapse" id="phukien">
                                        <li><a href="#">Giày dép</a></li>
                                        <li><a href="#">Túi xách</a></li>
                                        <li><a href="#">Mũ</a></li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                