
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/LayoutIndex.cshtml";
}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(/Content/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Thanh toán</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<br /><br /><br /><br />
 <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Thanh toán thành công !</h4> <br /><br /><br /><br /><br />
<!-- ##### Checkout Area Start ##### -->
